* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
}

body {
  background: #ececec;
  font: 14px sans-serif;
  color: #30475e;
}

div {
  width: 100%;
  margin: 20px;
}

div li {
  /* display: flex; */
  align-items: center;
  list-style: none;
}

div li + li {
  margin-top: 15px;
}

button {
  padding: 10px 20px;
  margin-top: 15px;
  background: #f2a365;
  color: #30475e;
  border: none;
  font-weight: bold;
  font-size: 14px;
  text-decoration: none;
  box-shadow: 0 1px 10px 0 #2228312a;
  cursor: pointer;
}

button:hover {
  background: #e48843;
}

div li button {
  color: #ececec;
  background: #ca4949;
  margin-top: 5px;
  padding: 5px 10px;
  font-weight: 400;
  font-size: 12px;
}

div li button:hover {
  background: #bb3232;
}
